[submodule "tunder_user_ms"]
	path = tunder_user_ms
	url = https://github.com/jaasuarezvi/tunder_user_ms.git
	branch = master
[submodule "interaction_ms"]
	path = interaction_ms
	url = https://github.com/vvargasd/interaction_ms.git
	branch = develop
[submodule "tUNder_ma"]
	path = tUNder_ma
	url = https://github.com/caaninome1/tUNder_ma.git
	branch = main
